@import "custom/transitions";
@import "custom/toast";
@import "custom/table";

body {
    width: 100%;
    overflow-x: hidden;

    &.modal-open {
        overflow: hidden
    }
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}